[submodule "client"]
	path = client
	url = https://github.com/akshaykulkarni2007/mevn-clients-client
[submodule "server"]
	path = server
	url = https://github.com/akshaykulkarni2007/mevn-clients-server
